@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 2px;
}

::-webkit-scrollbar-thumb{
  background-color: #47B0CD;
  width: 2px;
}
body{
  background-color: #e3f2fd;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.header_left img{
  object-fit: contain;
  height: 52px;
  margin-right: 10px;
}

.header{
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 999;
  justify-content: space-evenly;
  border-bottom: .1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #47B0CD;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.header_left{
  display: flex;

}

.header_right{
  display: flex;
  margin-top: 15px;
}

.header_search{
  padding: 10px;
  margin-top: 4px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 42px;
  color: gray;
  background-color: rgba(255, 255, 255, 0.21);
}

.header_search > input {
  outline: none;
  border: none;
  background: none;
}

.headerOption{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: white;
  cursor: pointer;
}

.headerOption:hover{
  color: rgb(140, 209, 227);
}

.headerOption h3{
  font-size: 12px;
  margin-top: 10px;
  font-weight: 400;
}

.headerOption_icon{
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

/*Início do Game*/

.game{
  padding-top: 65px;
  text-align: center;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.input label {
  text-align: center;
  font-size: 18px;
  margin-bottom: 8px;
}

.input select {
  border: none;
  border-radius: 8px;
  min-width: 300px;
  font-size: 16px;
  padding: 8px 4px;
  background-color: #3AA9C7;
  color: #fff;
}

.input select:focus {
  outline: none;
}

.circle-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.circle-outline {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: transparent;
  border: 15px solid #8A3274;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.circle-progress {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: #3AA9C7;
  border-radius: 50%;
  transition: 4s ease all;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.circle-grow {
  transform: scale(5.3);
}

.breaths {
  text-align: center;
  margin-bottom: 24px;
  font-size: 24px;
}

.instructions {
  text-align: center;
  margin-bottom: 32px;
}

button {
  padding: 8px 20px;
  border-radius: 8px;
  background-color: #3AA9C7;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s ease all;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

button:hover {
  background-color: #f1f1f1;
  color: #36b5ff;
}

.button-inactive {
  pointer-events: none;
  background-color: #3AA9C7;
}
/*Fim do Game*/

.mascote2{
  margin-right: 1200px;
} 


.mascote_game_ansiedade{
  margin-right: 400px;
  justify-content: space-evenly;
  
} 

.container{
  flex-direction: row-reverse;
  display: flex;
  width: 1000px;
  margin-top: 5px;
  padding-top: 50px;
}

/*Testando ScrollReveal*/
.efeito-scroll-reveal{
  visibility: hidden;
}
h1{
  margin-left: 650px;
  padding-top: 85px;
  color: #8A3274;
}


.title_subtitle{
  font-size: 45px;
  text-align: center;
  padding-top: 65px;
} 
.title_subtitle > h2{
  color: #8A3274;
}

.title_subtitle > h3{
  color: #536595;
}

/*Efeito flutuante CalMigo*/
@keyframes float{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-30px)
	}
}
.efeito-flutuante-infinito {
     animation: float 3s ease-in-out infinite;
}

/*INÍCIO DA PÁGINA DE ANSIEDADE*/

/*Slide 1*/
.mascote_title_ansiedade img{
  margin-top:35px;
  margin-left: 400px;
}

.quadrado{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 100px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
}

.quadrado > p{
  font-size: 25px;
  font-weight: 500;
}

/*Slide 2*/
.mascote_title_ansiedade2 img{
  margin-top:35px;
  margin-right: 820px;
}

.quadrado2{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 100px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
}


.quadrado2 > p{
  font-size: 25px;
  font-weight: 500;
}

/*Slide 3*/

.mascote_title_ansiedade3 img{
  margin-top:35px;
  margin-left: 400px;
}

.quadrado3{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 150px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
}

.quadrado3 > p{
  font-size: 25px;
  font-weight: 500;
}

/*Slide 4*/
.quadrado4{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 250px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
  position: absolute;
  top: 3350px;
  left: 380px;
}


.quadrado4 > p{
  font-size: 25px;
  font-weight: 500;
}

.img_slide4 img{
  width: 1865px;
  position: relative;

}
.img_slide4{
  background-color: #C6D5E6;
}

/*Slide 5*/
.quadrado5{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 150px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
  position: absolute;
  top: 5150px;
  left: 380px;
}


.quadrado5 > p{
  font-size: 25px;
  font-weight: 500;
}

.img_slide5 img{
  width: 1865px;
  position: relative;

}

/*Slide 6*/
.mascote_title_ansiedade6 img{
  margin-top:35px;
  margin-right: 820px;
}

.quadrado6{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 200px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
}

.quadrado6 > p{
  font-size: 25px;
  font-weight: 500;
}

/*Slide 7*/
.mascote_title_ansiedade7 img{
  margin-top:35px;
  margin-left: 820px;
  position: relative;
  bottom: 300px;
  left: 150px;

}

.quadrado7{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 50px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-top: 55px;
}

.quadrado7 > p{
  font-size: 25px;
  font-weight: 500;
}

.books{
  position: relative;
  bottom: 450px;
  right: 95px;
}

/*Slide 8*/
.mascote_title_ansiedade8 img{
  margin-bottom:35px;
  margin-right: 820px;
  
}

.quadrado8{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 100px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
}

.quadrado8 > p{
  font-size: 25px;
  font-weight: 500;
}

/*FIM DA PÁGINA DE ANSIEDADE*/

/*INÍCIO DA PÁGINA DE TDA*/
.container_tda{
  flex-direction: row;
  display: flex;
  width: 1000px;
  margin-top: 5px;
  padding-top: 50px;
}

.mascote_tda{
  margin-left:50px;
  justify-content: space-evenly;
}

/*Slide 9*/
.mascote_title_ansiedade9 img{
  margin-top:35px;
  margin-right: 820px;
}

.quadrado9{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 150px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
}


.quadrado9 > p{
  font-size: 25px;
  font-weight: 500;
}

/*Slide 10*/
.quadrado10{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 130px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
  position: absolute;
  top: 3350px;
  left: 380px;
}


.quadrado10 > p{
  font-size: 25px;
  font-weight: 500;
}

.img_slide10 img{
  width: 1865px;
  position: relative;

}

/*Slide 11*/
.mascote_title_ansiedade11 img{
  margin-top:35px;

}

.quadrado11{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 150px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  /* margin-right: 210px;  */
  margin-bottom: 45px;
}


.quadrado11> p{
  font-size: 25px;
  font-weight: 500;
}

.diferenca{
  font-size: 100px;
  font-weight: 600;
  color: gray;
}

/*Slide 12*/
.mascote_title_ansiedade12 img{
  margin-top:35px;
  margin-left: 400px;
}

.quadrado12{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 150px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
}

.quadrado12> p{
  font-size: 25px;
  font-weight: 500;
}

/*Slide 13*/
.quadrado13{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 130px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
  position: absolute;
  top: 5920px;
  left: 380px;
}


.quadrado13 > p{
  font-size: 25px;
  font-weight: 500;
}

.img_slide13 img{
  width: 1865px;
  position: relative;

}
/*FIM DA PÁGINA DE TDA*/

/*INÍCIO DA PÁGINA DE FOBIA SOCIAL*/

/*Slide 14*/
.mascote_title_ansiedade14 img{
  margin-top:35px;
  margin-left: 400px;
}

.quadrado14{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 150px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
}

.quadrado14 > p{
  font-size: 25px;
  font-weight: 500;
}

/*Slide 15*/
.quadrado15{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 130px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
  position: absolute;
  top: 3950px;
  left: 380px;
}


.quadrado15 > p{
  font-size: 25px;
  font-weight: 500;
}

.img_slide15 img{
  width: 1865px;
  position: relative;

}

.img_slide15{
  background-color:#E4E6EC;
}



/*Slide 16*/
.quadrado16{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 130px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
  position: absolute;
  top: 4950px;
  left: 380px;
}


.quadrado16 > p{
  font-size: 25px;
  font-weight: 500;
}

.img_slide16 img{
  width: 1865px;
  position: relative;

}

/*Slide 17*/
.mascote_title_ansiedade17 img{
  margin-top:35px;
  margin-right: 820px;
}

.quadrado17{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 150px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
}

.quadrado17 > p{
  font-size: 25px;
  font-weight: 500;
}

/*FIM DA PÁGINA DE FOBIA SOCIAL*/

/*INÍCIO DA PÁGINA DE TRANSTORNO DO PÂNICO*/

/*Slide 18*/
.mascote_title_ansiedade18 img{
  margin-top:35px;
  margin-left: 820px;
}

.quadrado18{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 200px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
}


.quadrado18 > p{
  font-size: 25px;
  font-weight: 500;
}

/*Slide 19*/
.quadrado19{
  background-color: rgb(255, 255, 255);
  width: 1000px;
  height: 190px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
  position: absolute;
  top: 3950px;
  left: 380px;
}


.quadrado19 > p{
  font-size: 25px;
  font-weight: 500;
}

.img_slide19 img{
  width: 1865px;
  position: relative;

}

/*Slide 20*/
.quadrado20{
  background-color: rgb(255, 255, 255);
  width: 1000px;
  height: 190px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
  position: absolute;
  top: 5000px;
  left: 380px;
}


.quadrado20 > p{
  font-size: 25px;
  font-weight: 500;
}

.img_slide20 img{
  width: 1865px;
  position: relative;

}

/*Slide 21*/
.mascote_title_ansiedade21 img{
  margin-top:35px;
  margin-right: 820px;
}

.quadrado21{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 112px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
}


.quadrado21> p{
  font-size: 25px;
  font-weight: 500;
}


/*FIM DA PÁGINA DE TRANSTORNO DO PÂNICO*/

/*INÍCIO DA PÁGINA DE TRANSTORNOS ALIMENTARES*/

/*Slide 22*/
.mascote_title_ansiedade22 img{
  margin-top:35px;
  margin-right: 820px;
}

.quadrado22{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 150px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
}


.quadrado22 > p{
  font-size: 25px;
  font-weight: 500;
}

/*Slide 23*/
.quadrado23{
  background-color: rgb(255, 255, 255);
  width: 1000px;
  height: 190px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
  position: absolute;
  top: 3850px;
  left: 380px;
}


.quadrado23 > p{
  font-size: 25px;
  font-weight: 500;
}

.img_slide23 img{
  width: 1865px;
  position: relative;
}

  /*Slide 24*/
.quadrado24{
  background-color: rgb(255, 255, 255);
  width: 1000px;
  height: 190px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
  position: absolute;
  top: 4300px;
  left: 790px;
}


.quadrado24 > p{
  font-size: 25px;
  font-weight: 500;
}

.img_slide24 img{
  width:1865px;
  position: relative;

}

/*Slide 25*/
.mascote_title_ansiedade25 img{
  margin-top:35px;
  margin-left: 400px;
}

.quadrado25{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 150px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
}

.quadrado25 > p{
  font-size: 25px;
  font-weight: 500;
}

/*Slide 26*/
.quadrado26{
  background-color: rgb(255, 255, 255);
  width: 1000px;
  height: 90px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
  position: absolute;
  top: 6800px;
  left: 380px;
}


.quadrado26 > p{
  font-size: 25px;
  font-weight: 500;
}

.img_slide26 img{
  width: 1865px;
  position: relative;
}


/*FIM DA PÁGINA DE TRANSTORNOS ALIMENTARES*/

/*INÍCIO DA PÁGINA DE DEPRESSÃO*/

/*Slide 27*/
.mascote_title_ansiedade27 img{
  margin-top:35px;
  margin-left: 400px;
}

.quadrado27{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 190px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
}

.quadrado27 > p{
  font-size: 25px;
  font-weight: 500;
}

/*Slide 28*/
.quadrado28{
  background-color: rgb(255, 255, 255);
  width: 1000px;
  height: 190px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
  position: absolute;
  top: 3950px;
  left: 380px;
}

.quadrado28 > p{
  font-size: 25px;
  font-weight: 500;
}

.img_slide28 img{
  width: 1865px;
  position: relative;

}
.img_slide28{
  background-color:#4CB6CB ;
}


/*Slide 29*/
.quadrado29{
  background-color: rgb(255, 255, 255);
  width: 1000px;
  height: 190px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
  position: absolute;
  top: 5000px;
  left: 380px;
}

.quadrado29 > p{
  font-size: 25px;
  font-weight: 500;
}

.img_slide29 img{
  width: 1865px;
  position: relative;

}

/*Slide 30*/
.mascote_title_ansiedade30 img{
  margin-top:35px;
  margin-left: 820px;
  position: relative;
  bottom: 300px;
  left: 150px;

}

.quadrado30{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 50px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-top: 55px;
}

.quadrado30 > p{
  font-size: 25px;
  font-weight: 500;
}

.podcast{
  position: relative;
  bottom: 450px;
  right: 95px;
}

/*Slide 31*/
.mascote_title_ansiedade31 img{
  margin-top:35px;
  margin-right: 820px;
}

.quadrado31{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 100px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
}
.quadrado31 > p{
  font-size: 25px;
  font-weight: 500;
}


/*FIM DA PÁGINA DE DEPRESSÃO*/

/*INÍCIO DA PÁGINA DE TRANSTORNO DE PERSONALIDADE*/

/*Slide 32*/
.mascote_title_ansiedade32 img{
  margin-top:35px;
  margin-left: 720px;
}

.quadrado32{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 200px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
}


.quadrado32 > p{
  font-size: 25px;
  font-weight: 500;
}

/*Slide 33*/
.quadrado33{
  background-color: rgb(255, 255, 255);
  width: 1000px;
  height: 190px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
  position: absolute;
  top: 3950px;
  left: 380px;
}

.quadrado33 > p{
  font-size: 25px;
  font-weight: 500;
}

.img_slide33 img{
  width: 1865px;
  position: relative;

}

/*Slide 34*/
.mascote_title_ansiedade34 img{
  margin-top:35px;
  margin-right: 820px;
}

.quadrado34{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 200px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
}


.quadrado34> p{
  font-size: 25px;
  font-weight: 500;
}


/*Slide 35*/
.mascote_title_ansiedade35 img{
  margin-top:35px;
  margin-left: 400px;
}

.quadrado35{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 180px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
}

.quadrado35> p{
  font-size: 25px;
  font-weight: 500;
}

/*Slide 36*/
.quadrado36{
  background-color: rgb(255, 255, 255);
  width: 1000px;
  height: 190px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
  position: absolute;
  top: 6550px;
  left: 380px;
}

.quadrado36 > p{
  font-size: 25px;
  font-weight: 500;
}

.img_slide36 img{
  width: 1865px;
  position: relative;
}

/*Slide 37*/
.mascote_title_ansiedade37 img{
  margin-top:35px;
  margin-left: 820px;
  position: relative;
  bottom: 300px;
  left: 150px;

}

.quadrado37{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 100px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-top: 55px;
}

.quadrado37 > p{
  font-size: 25px;
  font-weight: 500;
}

.artistas{
  position: relative;
  bottom: 450px;
  right: 95px;
}

/*FIM DA PÁGINA DE TRANSTORNO DE PERSONALIDADE*/

/*INÍCIO DA PÁGINA DE AUTISMO*/

/*Slide 38*/
.mascote_title_ansiedade38 img{
  margin-top:35px;
  margin-right: 400px;
}

.quadrado38{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 200px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
}

.quadrado38 > p{
  font-size: 25px;
  font-weight: 500;
}

/*Slide 39*/
.quadrado39{
  background-color: rgb(255, 255, 255);
  width: 1000px;
  height: 190px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
  position: absolute;
  top: 3330px;
  left: 380px;
}

.quadrado39 > p{
  font-size: 25px;
  font-weight: 500;
}

.img_slide39 img{
  width: 1865px;
  position: relative;
}

/*Slide 40*/
.mascote_title_ansiedade40 img{
  margin-top:35px;
  margin-left: 400px;
}

.quadrado40{
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 110px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
}

.quadrado40 > p{
  font-size: 25px;
  font-weight: 500;
}

/*Slide 41*/
.quadrado41{
  background-color: rgb(255, 255, 255);
  width: 1000px;
  height: 140px;
  box-shadow: 9px 12px 2px 1px rgba(0, 0, 0, .2); 
  margin-right: 250px; 
  margin-bottom: 45px;
  position: absolute;
  top: 4930px;
  
  left: 380px;
}

.quadrado41 > p{
  font-size: 25px;
  font-weight: 500;
}



/*FIM DA PÁGINA DE AUTISMO*/

/*Footer*/
.finally{
    margin-top: 200px;
    padding: 20px;
    background-color: #47B0CD;
}
.second_image img{
    height: 1000px;
    margin-left: 88%;
    margin-top: 2%;
}



